<html>
  <head>
    <link rel="shortcut" href="{{ url_for('static', filename='synth.wav') }}">
    <style>
      fieldset {
      border: 0;
      }
      label {
      display: block;
      margin: 30px 0 0 0;
      }
      .overflow {
      height: 200px;
      }
      .oscilloscope {
      width: 350px;
      height: 100px;
      max-height: 100%;
      background-color: #f3f6fa;
      }
      .box {
      width: 350px;
      background-color: #f3f6fa;
      border-radius: 0.5rem;
      }
    </style>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/static/oci/oscilloscope.css">
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script src="/static/jquery.jplayer.js" ></script>
    <script src="/static/oci/oscilloscope.js"></script>
    <script src="/static/tuner.js" ></script>
    <script>
    </script>
  </head>
  <body>
    <center>
      <div class="box">
	<h1> Tuner </h1>
      <div class="js-oscilloscope oscilloscope"></div>
      <!-- <div id="jquery_jplayer_1" class="jp-jplayer"></div> -->
      <!-- <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player"> -->
      <!-- 	<button class="jp-play" role="button" tabindex="0">play</button> -->
      <!-- 	<button class="jp-stop" role="button" tabindex="0">stop</button> -->
      <!-- </div> -->
      <form>
	<fieldset>
    	  <label for="sel"><b>Select a note</b> </label>
    	  <select name="sel" id="sel">
    	    {% for note in notes %}
            <option value={{note[1]}}> {{note[0]}} </option>
    	    {% endfor %}
    	  </select>
	</fieldset>
      </form>
    </div>
    </center>
  </body>
</html>
